{
    "bracketSpacing": true,
    "printWidth": 120,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "editorconfig": true,
    "importOrder": ["^react(.*)", "^next(.*)", "<THIRD_PARTY_MODULES>", "@(.*)", "^[./]", ".css$"],
    "importOrderSeparation": true,
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-classnames",
        "prettier-plugin-merge",
        "@trivago/prettier-plugin-sort-imports"
    ],
    "tailwindConfig": "./tailwind.config.ts",
    "endingPosition": "absolute-with-indent"
}
